html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #B0BEC5;
    font-weight: 100;
    font-family: Arial,sans-serif;
    background: linear-gradient(to bottom right, #ff9d00, #fc6100);
    position:relative;
}
#particles-js{
    width:100%;
    height:100%;
}
.container {
    text-align: center;
    position: absolute;
    left: 33%;
    top: 175px;
}
.content {
    text-align: center;
    width:480px;
    padding-top: 20px;
    height: 280px;
    background-color: #a78c7b;
    background:rgba(177,150,133,0.9);
    margin:0 auto;
    border-radius:13px;
    box-shadow:inset -5px 6px 8px #8f6e67;
    position:relative;
}
.content.hover{
    background:rgba(167,64,0,0.6);  
    box-shadow:inset -5px 6px 8px #9e4330;
}
.content.error{
    background:rgba(179,35,11,0.79);  
    box-shadow:inset -5px 6px 8px #b1371d;
}
.title {
    font-size: 20px;
    margin:0 0 0 0;
    color:#fff;
    text-transform:uppercase;
}

.footer-title{
    font-size: 20px;
    margin:0 0 0 0;
    color:#fff;
    text-transform:uppercase;
    position: relative;
    top: 7px;
}
.add-file{
    margin-top:25px;
}
.add-file span{
    margin:0 0 0 0;
    font-size:155px;
    margin-left:-10px;
    color:#7e7d7b;
    cursor:pointer;
}

.file_upload{
    display: block;
    position: relative;
    overflow: hidden;
}
.file_upload .button, .file_upload > mark{
    display: block;
    cursor: pointer              /* example */
}
.file_upload .button{
    float: right;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 8em;                  /* example */
    height: 100%;
    text-align: center           /* example */
}
.file_upload input[type=file]{
    position: absolute;
    top: 0;
    opacity: 0
}